<div class="overlay-bg" ng-class="{hiding: overlayFadeOut}" ng-click="hideOverlay()"></div>

<div class="overlay-content about">


	<div class="overlay-nav">
		<a href ng-click="hideOverlay()" class="btn-close">x</a>
	</div>

	<div class="content">
		<h3>
			Written in <a href="http://sublimetext.com/">Sublime</a> with the help of <a href="http://yeoman.io">Yeoman</a>, <a href="http://angularjs.org">AngularJS</a> and <a href="http://lodash.com/">Lo-Dash</a> by <a href="http://sometimes.hedoesthese.com/">me</a> in 10013.
		</h3>
		<h3>
			Try out keyboard navigation on the project details.
		</h3>
		<h3>
			ackell &aring;t gmail
		</h3>
	</div>
</div>